<!doctype html>
<html lang="en">
  <head>
    <%- include('head') %>
  </head>
  <body>
    <div id="container">

      <div id="manage-btn">
        <button type='button'
                class='btn btn-sm btn-purple'
                data-bs-toggle='modal'
                data-bs-target='#streams-modal'
                title='Manage the streams you are currently watching.'>
          <i class='fa fa-television'></i>
        </button>
      </div>

      <%- include('defaultContent') %>

      <div id="streams"></div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div id="stream-manager">
    <%- include('streamManagerModal') %>
    <%- include('mainjs') %>
    <%- include('newStreamTemplate') %>
    <%- include('changelogModal') %>
  </body>
</html>