<!doctype html>
<html lang="en">
  <head>
    <%- include('head') %>
  </head>
  <body>
    <div id="container">

      <div id="manage-btn">
        <button type='button'
                class='btn btn-sm btn-secondary'
                data-toggle='modal'
                data-target='#streams-modal'>
          <i class='fa fa-television'>&nbsp;</i>Streams
        </button>
      </div>

      <%- include('defaultContent') %>

      <div id="streams"></div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div id="stream-manager">
    <%- include('streamManagerModal') %>
    <%- include('mainjs') %>
    <%- include('newStreamTemplate') %>
    <%- include('changelogModal') %>
  </body>
</html>