<!doctype html>
<html lang="en">
  <head>
    <%- include('head') %>
  </head>
  <body>
    <div id="container">

      <div id="manage-btn">
        <button id='manage-btn-actual'
                type='button'
                class='btn btn-sm btn-purple'
                data-bs-toggle='modal'
                data-bs-target='#streams-modal'
                title='Manage the streams you are currently watching.'>
          <i class='fas fa-tv'></i>
        </button>
      </div>

      <%- include('defaultContent') %>

      <div id="streams"></div>
      <div class="clearfix"></div>
    </div>

    <div id="stream-manager">
      <%- include('streamManagerModal') %>
    </div>    

    <%- include('newStreamTemplate') %>
    <%- include('changelogModal') %>
  
    <script src="/js/pwa.js"></script>

    <script type='text/javascript'>
      $(function() {
        ManyTwitch.manager.setStreams('<%= streamsFromParms %>'); // init session storage item.
        ManyTwitch.streams.update();
        $('#streams-modal').modal('handleUpdate');
      });

      $('#manage-btn-actual').on('mouseenter', function() {
        $(this).html("<i class='fas fa-tv'></i>&nbsp;&nbsp;Streams");
      });

      $('#manage-btn-actual').on('mouseleave', function() {
        $(this).html("<i class='fas fa-tv'></i>");
      });
    
      $('#streams-modal').on('shown.bs.modal', function(e) {
        var addStreamBtn = $('#streams-modal #add-stream-btn');
        var saveBtn = $('#streams-modal #save-btn');
        var newStream = $('#new_stream');

        $('#streams-list tr').remove();
        $.each(ManyTwitch.manager.getStreams(), function(idx, value) {
          ManyTwitch.streams.addToModalTable(value);
        });
        newStream.focus();

        if (ManyTwitch.util.streamCount() < 1) {
          addStreamBtn.attr('disabled', 'disabled');
          saveBtn.attr('disabled', 'disabled');
        } else {
          addStreamBtn.removeAttr('disabled');
          saveBtn.removeAttr('disabled');
        }
      });

      $('#streams-modal').on('hidden.bs.modal', function(e) {
        $('#new_stream').val('');
      });

      $('#streams-modal #save-btn').on('click', function() {
        var streamsList = $('#streams-modal #streams-list [data-stream-name]');
        var streams = ManyTwitch.manager.getStreams();
        var newStreams = [];

        $.each(streamsList, function(idx, value) {
          var streamName = $(value).data('stream-name');
          if ($(value).is(':checked')) {
            newStreams.push(streamName);
          } else {
            $('tr#tr-'+streamName).remove();
          }
        });

        ManyTwitch.manager.setStreams(newStreams.join(','));
        ManyTwitch.streams.update();
      });

      $('#streams-modal #new_stream').on('paste', function() {
        var addStreamBtn = $('#streams-modal #add-stream-btn');

        if ($(this).length < 1) {
          addStreamBtn.attr('disabled', 'disabled');
        } else {
          addStreamBtn.removeAttr('disabled');
        }
      });
    </script>
  </body>
</html>