<!doctype html>
<html lang="en">
  <%- include("head") %>
  <body data-env="<%- env %>">
    <div id="container">
      <%- include("mainActionBar") %>
      <%- include("defaultContent") %>
      <div id="streams-container">
        &nbsp;
      </div>
    </div>

    <div id="stream-manager">
      <%- include("streamManagerModal") %>
    </div>    

    <%- include("newStreamTemplate") %>
    <%- include("psodModal") %>
  
    <script src="/js/pwa.js"></script>

    <script type="text/javascript">
      const streamsModal = document.getElementById("streams-modal");
      const manageBtnActual = document.getElementById("manage-btn-actual");
      const saveBtn = document.getElementById("save-btn");
      const newStreamField = document.getElementById("new_stream");
      const addStreamBtn = document.getElementById("add-stream-btn");
      const streamManagerDefaultContent = document.getElementById("streams-manager-default-content");
      const clearAllRecentStreamsBtn = document.getElementById("clear-all-recent-streams-btn");

      window.addEventListener("DOMContentLoaded", (event) => {
        MT.streams.setStreams("<%= streamsFromParms %>"); // init local storage item.
        MT.streams.update();
      });

      streamsModal.addEventListener("show.bs.modal", (event) => {
        clearAllRecentStreamsBtn.style.display = (MT.streams.getRecentStreams().length > 0) ? "block" : "none";

        Array.from(document.getElementsByClassName("streams-modal-table-tr")).forEach(element => {
          element.remove();
        });

        Array.from(document.getElementsByClassName("recent-streams-modal-table-tr")).forEach(element => {
          element.remove();
        });

        // add our current streams to the streams table.
        Array.from(MT.streams.getStreams()).forEach(element => {
          MT.manager.addToTable(element);
        });

        // add our recent streams to the recent streams table.
        Array.from(MT.streams.getRecentStreams()).forEach(element => {
          MT.manager.addToRecentsTable(element);
        });

        if (MT.util.streamCount() == 0) {
          addStreamBtn.setAttribute("disabled", "disabled");
          saveBtn.setAttribute("disabled", "disabled");
          streamManagerDefaultContent.style.display = "block";
        } else {
          saveBtn.removeAttribute("disabled");
          streamManagerDefaultContent.style.display = "none";
        }

      });

      streamsModal.addEventListener("shown.bs.modal", (event) => {

        newStreamField.focus();

        if (MT.util.streamCount() == 0) {
          addStreamBtn.setAttribute("disabled", "disabled");
          saveBtn.setAttribute("disabled", "disabled");
          streamManagerDefaultContent.style.display = "block";
        } else {
          saveBtn.removeAttribute("disabled");
          streamManagerDefaultContent.style.display = "none";
        }

      });

      streamsModal.addEventListener("hidden.bs.modal", (event) => {
        newStreamField.value = "";
        addStreamBtn.setAttribute("disabled", "disabled");

        Array.from(document.getElementsByTagName("video")).forEach(element => {
          element.volume = 0.1;
        });
      });

      saveBtn.addEventListener("click", (event) => {

        let streamsList = document.getElementsByClassName("streams-modal-table-tr");
        let streams = MT.streams.getStreams();
        let newStreams = [];
        const orderChangedElement = document.getElementById("order-changed");

        if (orderChangedElement.value == "true") {
          console.log("Streams have been re-ordered. Resetting...");
          MT.streams.setStreams("");
          streams = MT.streams.getStreams(); // reload our streams.
        }

        Array.from(streamsList).forEach(element => {
          let streamName = element.dataset.streamName;
          newStreams.push(streamName);
        });

        MT.streams.setStreams(newStreams.join(","));
        MT.streams.update(orderChangedElement.value);
        orderChangedElement.value = "false";
      });

      newStreamField.addEventListener("paste", (event) => {
        if ($(this).length < 1) {
          addStreamBtn.setAttribute("disabled", "disabled");
        } else {
          addStreamBtn.removeAttribute("disabled");
        }
      });

    </script>

    <script defer src="/js/all.min.js"></script>

    <%- include("analytics") %>
  </body>
</html>